Repository codespace-operator/charts, changes with the labels that .github/labeler.yml gives for each.
All labels: area:codespace-operator, release-lane:chart

.github/labeler.yml:

area:codespace-operator:
  - changed-files:
      - any-glob-to-any-file:
          - "charts/codespace-operator/**"

release-lane:chart:
  - changed-files:
      - any-glob-to-any-file: ["charts/**"]

feat(operator): rbac
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-secret.yaml
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

fix(server): local user behavior
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-users-secret.yaml
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

chore(repo): test pr template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/release-config/release.helm.cjs
  commitlint.config.js
Labels: none

feat(server): update (#1)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/release-config/release.helm.cjs
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-secret.yaml
  charts/codespace-operator/templates/server-users-secret.yaml
  charts/codespace-operator/values.yaml
  commitlint.config.js
Labels: area:codespace-operator, release-lane:chart

fix(server): rbac defaults
  charts/codespace-operator/templates/configmap-rbac.yaml
Labels: area:codespace-operator, release-lane:chart

feat(server): downward API, better labels
  .gitignore
  charts/codespace-operator/templates/NOTES.txt
  charts/codespace-operator/templates/_helpers.tpl
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-service.yaml
  charts/codespace-operator/templates/session-controller-deployment.yaml
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

fix(server): rbac defaults
  charts/codespace-operator/templates/configmap-rbac.yaml
Labels: area:codespace-operator, release-lane:chart

feat(server): fix rbac, add downward API (#2)
  .gitignore
  charts/codespace-operator/templates/NOTES.txt
  charts/codespace-operator/templates/_helpers.tpl
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-service.yaml
  charts/codespace-operator/templates/session-controller-deployment.yaml
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

fix(ci): builds
  .github/workflows/release-helm.yml
Labels: none

fix(server): restore builds
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/release-config/release.helm.cjs
  .github/workflows/release-helm.yml
  .gitignore
  charts/codespace-operator/templates/NOTES.txt
  charts/codespace-operator/templates/_helpers.tpl
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-secret.yaml
  charts/codespace-operator/templates/server-service.yaml
  charts/codespace-operator/templates/server-users-secret.yaml
  charts/codespace-operator/templates/session-controller-deployment.yaml
  charts/codespace-operator/values.yaml
  commitlint.config.js
Labels: area:codespace-operator, release-lane:chart

Notes added by 'git notes add'
  c635492b788a9c2c85a2748f8801efb3e31abbec
Labels: none

fix(server): change tag name
  .github/release-config/release.helm.cjs
Labels: none

ci(repo): validate pr
  .github/workflows/pr-validate.yml
Labels: none

feat(server,operator): refactor charts, helm labels
  charts/codespace-operator/templates/_helpers.tpl
  charts/codespace-operator/templates/ingressclass.yaml
  charts/codespace-operator/templates/operator-deployment.yaml
  charts/codespace-operator/templates/operator-rbac.yaml
  charts/codespace-operator/templates/operator-service-monitor.yaml
  charts/codespace-operator/templates/operator-service.yaml
  charts/codespace-operator/templates/operator-serviceaccount.yaml
  charts/codespace-operator/templates/role.yaml
  charts/codespace-operator/templates/rolebinding.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-secret.yaml
  charts/codespace-operator/templates/server-users-secret.yaml
  charts/codespace-operator/templates/servicemonitor.yaml
  charts/codespace-operator/templates/session-controller-deployment.yaml
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

chore(repo): lax rules
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

feat(server,operator): refactor charts, helm labels
  .github/release-config/release.helm.cjs
  .github/workflows/semantic-pr.yml
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/values.yaml
  commitlint.config.js
Labels: area:codespace-operator, release-lane:chart

refactor(charts): refactor compelte chart
  charts/codespace-operator/Chart.yaml
  charts/codespace-operator/templates/NOTES.txt
  charts/codespace-operator/templates/_helpers.tpl
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/ingressclass.yaml
  charts/codespace-operator/templates/operator-deployment.yaml
  charts/codespace-operator/templates/operator-ingressclass.yaml
  charts/codespace-operator/templates/operator-rbac.yaml
  charts/codespace-operator/templates/operator-service-monitor.yaml
  charts/codespace-operator/templates/operator-service.yaml
  charts/codespace-operator/templates/operator-serviceaccount.yaml
  charts/codespace-operator/templates/server-configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-ingress.yaml
  charts/codespace-operator/templates/server-ingressroute-openshift.yaml
  charts/codespace-operator/templates/server-networkpolicy.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-secret.yaml
  charts/codespace-operator/templates/server-service.yaml
  charts/codespace-operator/templates/server-users-secret.yaml
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

chore(operator): example mapping
  charts/codespace-operator/values.yaml
Labels: area:codespace-operator, release-lane:chart

fix(charts): helm labels (#4)
  .github/release-config/release.helm.cjs
  .github/workflows/pr-validate.yml
  .github/workflows/semantic-pr.yml
  charts/codespace-operator/Chart.yaml
  charts/codespace-operator/templates/NOTES.txt
  charts/codespace-operator/templates/_helpers.tpl
  charts/codespace-operator/templates/configmap-rbac.yaml
  charts/codespace-operator/templates/ingressclass.yaml
  charts/codespace-operator/templates/operator-deployment.yaml
  charts/codespace-operator/templates/operator-ingressclass.yaml
  charts/codespace-operator/templates/operator-rbac.yaml
  charts/codespace-operator/templates/operator-service-monitor.yaml
  charts/codespace-operator/templates/operator-service.yaml
  charts/codespace-operator/templates/operator-serviceaccount.yaml
  charts/codespace-operator/templates/role.yaml
  charts/codespace-operator/templates/rolebinding.yaml
  charts/codespace-operator/templates/server-configmap-rbac.yaml
  charts/codespace-operator/templates/server-deployment.yaml
  charts/codespace-operator/templates/server-ingress.yaml
  charts/codespace-operator/templates/server-ingressroute-openshift.yaml
  charts/codespace-operator/templates/server-networkpolicy.yaml
  charts/codespace-operator/templates/server-rbac.yaml
  charts/codespace-operator/templates/server-secret.yaml
  charts/codespace-operator/templates/server-service.yaml
  charts/codespace-operator/templates/server-users-secret.yaml
  charts/codespace-operator/templates/service.yaml
  charts/codespace-operator/templates/serviceaccount.yaml
  charts/codespace-operator/templates/servicemonitor.yaml
  charts/codespace-operator/templates/session-controller-deployment.yaml
  charts/codespace-operator/templates/session-controller-rbac.yaml
  charts/codespace-operator/values.yaml
  commitlint.config.js
Labels: area:codespace-operator, release-lane:chart

chore(release): codespace-operator 1.0.0 [skip ci]
  changelogs/CHANGELOG.codespace-operator.md
  charts/codespace-operator/Chart.yaml
Labels: area:codespace-operator, release-lane:chart

Notes added by 'git notes add'
  609b3e21431c19195b745caa37aeca6869a3079a
Labels: none

chore(charts): sane defaults, rename
  charts/codespace/Chart.yaml
  charts/codespace/templates/NOTES.txt
  charts/codespace/templates/_helpers.tpl
  charts/codespace/templates/operator-deployment.yaml
  charts/codespace/templates/operator-ingressclass.yaml
  charts/codespace/templates/operator-rbac.yaml
  charts/codespace/templates/operator-service-monitor.yaml
  charts/codespace/templates/operator-service.yaml
  charts/codespace/templates/operator-serviceaccount.yaml
  charts/codespace/templates/server-configmap-rbac.yaml
  charts/codespace/templates/server-deployment.yaml
  charts/codespace/templates/server-ingress.yaml
  charts/codespace/templates/server-ingressroute-openshift.yaml
  charts/codespace/templates/server-networkpolicy.yaml
  charts/codespace/templates/server-rbac.yaml
  charts/codespace/templates/server-secret.yaml
  charts/codespace/templates/server-service.yaml
  charts/codespace/templates/server-serviceaccount.yaml
  charts/codespace/templates/server-users-secret.yaml
  charts/codespace/values.yaml
Labels: release-lane:chart

chore(release): codespace 1.0.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
Labels: none

Notes added by 'git notes add'
  926a8fa9b7bcb5ac86b094fd6a5e4a06b217e6c9
Labels: none

chore(repo): cleanup
  changelogs/CHANGELOG.codespace-operator.md
Labels: none

fix(codespace): set 1.0.0 default appVersion
  .github/release-config/release.helm.cjs
  charts/codespace/Chart.yaml
  commitlint.config.js
Labels: release-lane:chart

chore(release): codespace 1.0.1 [skip ci]
  changelogs/CHANGELOG.codespace.md
  charts/codespace/Chart.yaml
Labels: release-lane:chart

Notes added by 'git notes add'
  56e624830729a76b43dd18e926f5e9d523cb125e
Labels: none

feat(server): enable LDAP
  charts/codespace/templates/server-deployment.yaml
  charts/codespace/templates/server-secret.yaml
  charts/codespace/values.yaml
Labels: release-lane:chart

feat(server): bump appversion
  charts/codespace/Chart.yaml
Labels: release-lane:chart

chore(release): codespace 1.1.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
  charts/codespace/Chart.yaml
Labels: release-lane:chart

Notes added by 'git notes add'
  0e80eb43a76536a8d4223813d36e45591edbeee3
Labels: none

fix(codespace): chart to new scheme
  charts/codespace/templates/_helpers.tpl
  charts/codespace/templates/server-configmap-ldap.yaml
  charts/codespace/templates/server-deployment.yaml
  charts/codespace/templates/server-secret.yaml
  charts/codespace/templates/server-users-secret.yaml
  charts/codespace/values.yaml
Labels: release-lane:chart

fix(codespace): bump `appVersion` for breaking changes
  charts/codespace/Chart.yaml
Labels: release-lane:chart

feat(server): bump appversion
  charts/codespace/templates/_helpers.tpl
  charts/codespace/templates/operator-deployment.yaml
  charts/codespace/templates/server-configmap-auth.yaml
  charts/codespace/templates/server-configmap-ldap.yaml
  charts/codespace/templates/server-deployment.yaml
  charts/codespace/templates/server-secret.yaml
  charts/codespace/values.yaml
Labels: release-lane:chart

fix(server): initial refactor
  charts/codespace/templates/server-deployment.yaml
  charts/codespace/values.yaml
Labels: release-lane:chart

chore(release): codespace 1.2.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
  charts/codespace/Chart.yaml
Labels: release-lane:chart

Notes added by 'git notes add'
  5dbc16c9abb88117175dd28744db524047fdea0b
Labels: none

fix(codespace): bump appVersion
  charts/codespace/Chart.yaml
Labels: release-lane:chart

chore(release): codespace 1.2.1 [skip ci]
  changelogs/CHANGELOG.codespace.md
  charts/codespace/Chart.yaml
Labels: release-lane:chart
